Output operator

In [19]:
print("Hello, World!")

Hello, World!

Condition, syntax

In [22]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

If we'll skip the indentation:

In [29]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

There has to be at least one space, commonly it's four

In [31]:
if 5 > 2:
 print("Five is greater than two!")
     print("Five is greater than two!")

IndentationError: unexpected indent (2030326941.py, line 3)

The ammount of spaces in one block for each operation must be equal

Variables

In [57]:
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

Python has no command for declaring a variable

Comments

In [61]:
#some comments for better understanding the code
print("Hello World!")

Hello World!

In [63]:
print("Hello World!") #This is also a comment

Hello World!

In [65]:
#print("Hello World!")
print("Hello World!")

Hello World!

Variables

Example of Creating:

In [78]:
x = 5
y = "John"
print(x)
print(y)

5
John

Example of Changing:

In [82]:
x = 4       # x is of type integer
x = "Sally" # x is now of type string
print(x)

Sally

Example of Casting:

In [96]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get the type function: type()

In [101]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

String variables can be declared either by single or double quotes:

In [105]:
x = "John"
# is the same as
x = 'John'

Case-sensivity:

In [1]:
a = 4
A = "Sally"
# a and A are different variables
print(a, A)

4 Sally

Variables Names:

Legal ones:

In [6]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal:

In [11]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Multiple word variables:

Camel Case:

In [14]:
myVariableName = "John"

Pascal Case

In [17]:
MyVariableName = "John"

Snake Case:

In [20]:
my_variable_name = "John"

Many Values to Multiple Variables in one line:

In [28]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to multiple Variables:

In [34]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpacking the list:

In [37]:
fruits = ["orange", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

orange
banana
cherry

Output Variables:

In [42]:
x = "Python is awesome"
print(x)

Python is awesome

Output multiple variables, separated by a comma:

In [47]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

We can use + instead of comma, but the result will be printed without spaces:

In [50]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

For numbers, the + character works as a mathematical operator:

In [54]:
x = 5
y = 10
print(x + y)

15

There will be an error if we'll try to sum number and string:

In [57]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which support different data types:

In [62]:
x = 5
y = "John"
print(x, y)

5 John

Global variables:

The variable was declared outside of the function, but used inside of it:

In [77]:
x = "awesome"

def func():
    print("Python is " + x)
    
func()

Python is awesome

Create a variable inside a function, with the same name as the global variable:

In [81]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x) # here we printed the variable which was declared inside of the function

myfunc()

print("Python is " + x) # herer we printed the global one with the same name

Python is fantastic
Python is awesome

If we use the global keyword, the variable belongs to the global scope:

In [84]:
def func():
    global x
    x = "fantastic"

func()
print("Python is " + x)

Python is fantastic

We can also change the global variable by using global function:

In [89]:
x = "awesome"

def func():
    global x
    x = "fantastic"
func()
print("Python is " + x)

Python is fantastic

Getting the data types:

In [96]:
x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)    #bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None    #NoneType

Setting the Specific Data Type:

In [101]:
x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry"))	#tuple	
x = range(6)	#range	
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry"))	#set	
x = frozenset(("apple", "banana", "cherry"))	#frozenset	
x = bool(5)	#bool	
x = bytes(5)	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview

Python Numbers

There are three numeric types in Python:

In [112]:
x = 1 #int
y = 2.8 #float
z = 1j #complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Integer numbers:

In [115]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float numbers:

In [125]:
x = 1.10
y = 1.0
z = -35.59
t = 35e4 #e is indicates the power of 10
print(type(x))
print(type(y))
print(type(z))
print(type(t))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Complex numbers, with imaginary part written with "j":

In [127]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

We can convert from one type to another with the int(), float(), and complex() methods:

In [133]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

We cannot convert complex numbers into another number type

Python has a built-in module called random that can be used to make random numbers:

In [141]:
import random

print(random.randrange(1, 10))

7

Specifying the variable type

Integers:

In [151]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

Floats:

In [154]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Strings:

In [157]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

Strings Variable Type

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [161]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Assigning string to a variable:

In [167]:
a = "Hello"
print(a)

Hello

Multiple Strings:

We can assign a multiline string to a variable by using three quotes:

In [172]:
a = """blah blah blah
blah blah blah
blah blah blah"""
print(a)

blah blah blah
blah blah blah
blah blah blah

The same with the single quotes:

In [175]:
a = '''blah blah blah
blah blah blah
blah blah blah'''
print(a)

blah blah blah
blah blah blah
blah blah blah

Strings are Arrays

In [184]:
word = "Hello, World!"
print(word[1]) #printing the character that has index = 1

e

We can loop through the letters of the string:

In [187]:
for char in "banana":
    print(char)

b
a
n
a
n
a

To get the length of the string we can use len() function:

In [190]:
word = "banana"
print(len(word))

6

To check if a certain phrase or character is present in a string, we can use the keyword in:

In [199]:
txt = "The best things in life are free!"
print("free" in txt)

True

We can also use if statement:

In [208]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

Check if "expensive" is NOT present in the following text:

In [213]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("Yes, 'expensive' is NOT present in txt")

Yes, 'expensive' is NOT present in txt

Slicing Strings

We can return a range of characters by using the slice syntax:

In [12]:
b = "Hello, World!"
print(b[2:5])

llo

By leaving out the start index, the range will start at the first character:

In [15]:
b = "Hello, World!"
print(b[:5])

Hello

By leaving the end index, the range will go to the end:

In [18]:
b = "Hello, World!"
print(b[2:])

llo, World!

Use negative indexes to start the slice from the end of the string:

In [21]:
b = "Hello, World!"
print(b[-5:-2])

orl

The upper() method returns the string in upper case:

In [24]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

The lower() method returns the string in lower case:

In [27]:
a = "Hello, World!"
print(a.lower())

hello, world!

The strip() method removes any whitespace from the beginning or the end:

In [30]:
a = "   Hello, World!   "
print(a.strip()) # returns "Hello, World!"

Hello, World!

The replace() method replaces a string with another string:

In [38]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

The split() method splits the string into substrings if it finds instances of the separator:

In [35]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

String Concatenation

Merge variable a with variable b into variable c:

In [52]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

To add a space between them, add a " ":

In [55]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

We cannot combine strings and numbers like this:

In [58]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method:

In [62]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

A placeholder can contain variables, operations, functions, and modifiers to format the value:

In [65]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [68]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [77]:
txt = f"The price is {20.25 * 59.64:.2f} dollars"
print(txt)

The price is 1207.71 dollars

Escape Characters

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [83]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

To avoid the error we need to use escape characters:

In [87]:
txt = "We are the so-called \"Vikings\" from the north."

Other escape characters used in Python:

In [102]:
\'	#Single Quote	
\\	#Backslash	
\n	#New Line	
\r	#Carriage Return	
\t	#Tab	
\b	#Backspace	
\f	#Form Feed	
\ooo	#Octal value	
\xhh	#Hex value

SyntaxError: unexpected character after line continuation character (386132905.py, line 1)

String Methods

capitalise() Method:

In [111]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

The capitalize() method returns a string where the first character is upper case, and the rest is lower case

In [117]:
txt = "python is FUN!"
x = txt.capitalize()
print (x)

Python is fun!

In [119]:
txt = "36 is my age."
x = txt.capitalize()
print (x)

36 is my age.

casefold() Method:

In [124]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

center() Method:

Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [129]:
txt = "banana"
x = txt.center(20)
print(x)

       banana

Using the letter "O" as the padding character:

In [133]:
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

count() Method:

Return the number of times the value "apple" appears in the string:

In [137]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

Search from position 10 to 24:

In [140]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

encode() Method:

UTF-8 encode the string:

In [144]:
txt = "My name is Stle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

endwith() Method:

Check if the string ends with a punctuation sign (.):

In [28]:
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

Check if the string ends with the phrase "my world.":

In [21]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

Check if position 5 to 11 ends with the phrase "my world.":

In [23]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

Check if the string ends with either the phrase "world." or "castle.":

In [34]:
txt = "Hello, welcome to my castle."
x = txt.endswith(("world.", "castle."))
print(x)

True

Set the tab size to 2 whitespaces:

In [59]:
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

H e l l o

See the result using different tab sizes:

In [62]:
txt = "H\te\tl\tl\to"
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

Where in the text is the word "welcome"?

In [65]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

Where in the text is the first occurrence of the letter "e"?:

In [68]:
txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [71]:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

In [83]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

Using different placeholder values:

In [88]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

index() Method:

Where in the text is the word "welcome"?:

In [94]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

Where in the text is the first occurrence of the letter "e"?:

In [98]:
txt = "Hello, welcome to my world."
x = txt.index("e")
print(x)

1

Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [101]:
txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

If the value is not found, the find() method returns -1, but the index() method will raise an exception:

In [106]:
txt = "Hello, welcome to my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

isalnum() Method:

Check if all the characters in the text are alphanumeric:

In [113]:
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [117]:
txt = "Company 12" #because of the " " char
x = txt.isalnum()
print(x)

False

isalpha() Method:

Check if all the characters in the text is alphabetic:

In [123]:
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [128]:
txt = "Company10" #10
x = txt.isalpha()
print(x)

False

isascii() Method:

Check if all the characters in the text are ascii characters:

In [132]:
txt = "Company123"
x = txt.isascii()
print(x)

True

isdecimal() Method:

Check if all the characters in a string are decimals (0-9):

In [138]:
txt = "1234"
x = txt.isdecimal()
print(x)

True

In [143]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
False

isdigit() Method:

Check if all the characters in the text are digits:

In [147]:
txt = "50800"
x = txt.isdigit()
print(x)

True

In [154]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for 
print(a.isdigit())
print(b.isdigit())

True
True

isidentifier() Method:

Check if the string is a valid identifier:

In [158]:
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [161]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

islower() Method:

Check if all the characters in the text are in lower case:

In [167]:
txt = "hello world!"
x = txt.islower()
print(x)

True

In [170]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"
print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

isnumeric() Method:

Check if all the characters in the text are numeric:

In [175]:
txt = "565543"
x = txt.isnumeric()
print(x)

True

Check if the characters are numeric:

In [182]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2" "km"
d = "-1" # "-"
e = "1.5" # "."
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

isprintable() Method:

Check if all the characters in the text are printable:

In [186]:
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

True

In [188]:
txt = "Hello!\nAre you #1?"
x = txt.isprintable()
print(x)

False

isspace() Method:

Check if all the characters in the text are whitespaces:

In [2]:
txt = "   "
x = txt.isspace()
print(x)

True

In [4]:
txt = "   s   "
x = txt.isspace()
print(x)

False

istitle() Method:

Check if each word start with an upper case letter:

In [8]:
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

True

In [10]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

isupper() Method:

Check if all the characters in the text are in upper case:

In [16]:
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [18]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"
print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

join() Method:

Join all items in a tuple into a string, using a hash character as separator:

In [24]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

Join all items in a dictionary into a string, using the word "TEST" as separator:

In [27]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTcountry

ljust() Method:

Return a 20 characters long, left justified version of the word "banana":

In [37]:
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

Using the letter "O" as the padding character:

In [40]:
txt = "banana"
x = txt.ljust(20, "O")
print(x)

bananaOOOOOOOOOOOOOO

lower() Method:

Lower case the string:

In [46]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

lstrip() Method:

Remove spaces to the left of the string:

In [50]:
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

Remove the leading characters:

In [53]:
txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.asw")
print(x)

banana

maketrans() Method:

Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

In [57]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

Use a mapping table to replace many characters:

In [60]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

The third parameter in the mapping table describes characters that you want to remove from the string:

In [63]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

The maketrans() method itself returns a dictionary describing each replacement, in unicode:

In [66]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

partition() Method:

Search for the word "bananas", and return a tuple with three elements:

In [70]:
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

In [73]:
txt = "I could eat bananas all day"
x = txt.partition("apples")
print(x)

('I could eat bananas all day', '', '')

rsplit() Method:

Split a string into a list, using comma, followed by a space (, ) as the separator:

In [79]:
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

['apple', 'banana', 'cherry']

Split the string into a list with maximum 2 items:

In [82]:
txt = "apple, banana, cherry"
# setting the maxsplit parameter to 1, will return a list with 2 elements
x = txt.rsplit(", ", 1)
print(x)

['apple, banana', 'cherry']

split() Method:

Split a string into a list where each word is a list item:

In [86]:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

Split the string, using comma, followed by a space, as a separator:

In [89]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

Use a hash character as a separator:

In [92]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

Split the string into a list with max 2 items:

In [103]:
txt = "apple#banana#cherry#orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements
x = txt.split("#", 1)
print(x)

['apple', 'banana#cherry#orange']

splitline() Method:

In [108]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

Split the string, but keep the line breaks:

In [111]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines(True)
print(x)

['Thank you for the music\n', 'Welcome to the jungle']

startswith() Method:

Check if the string starts with "Hello":

In [115]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

Check if position 7 to 20 starts with the characters "wel":

In [118]:
txt = "Hello, welcome to my world."
x = txt.startswith("wel", 7, 20)
print(x)

True

Check if the string starts with either "Hello" or "Hi":

In [121]:
txt = "Hi, welcome to my world."
x = txt.startswith(("Hello", "Hi"))
print(x)

True

strip() Method:

Remove spaces at the beginning and at the end of the string:

In [125]:
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

Remove the leading and trailing characters:

In [128]:
txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)

banana

swapcase() Method:

Make the lower case letters upper case and the upper case letters lower case:

In [132]:
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

title() Method:

Make the first letter in each word upper case:

In [136]:
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [138]:
txt = "Welcome to my 2nd world"
x = txt.title()
print(x)

Welcome To My 2Nd World

Note that the first letter after a non-alphabet letter is converted into a upper case letter:

In [141]:
txt = "hello b2b2b2 and 3g3g3g"
x = txt.title()
print(x)

Hello B2B2B2 And 3G3G3G

translate() Method:

Replace any "S" characters with a "P" character:

In [145]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

Use a mapping table to replace "S" with "P":

In [148]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

Use a mapping table to replace many characters:

In [151]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

The third parameter in the mapping table describes characters that you want to remove from the string:

In [154]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

The same example as above, but using a dictionary instead of a mapping table:

In [157]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

upper() Method:

Upper case the string:

In [161]:
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

zfill() Method:

Fill the string with zeros until it is 10 characters long:

In [165]:
txt = "50"
x = txt.zfill(10)
print(x)

0000000050

In [167]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"
print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000